<body class="hold-transition register-page">
<div class="register-box">
  <div class="register-logo">
    <a href="/"><b>Learning</b>Force</a>
  </div>
  <div class="register-box-body">
    <p class="login-box-msg">Login</p>
    <%= form_for @user, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
        <div class="form-group has-feedback">
          <%= f.text_field :Email, class: 'form-control', placeholder: 'Email', type: 'email', required: true %>
          <i class="fa fa-envelope form-control-feedback"></i>
        </div>
        <div class="form-group has-feedback">
          <%= f.text_field :Password__c, class: 'form-control', placeholder: 'Password', type: 'password', required: true %>
          <i class="fa fa-lock form-control-feedback"></i>
        </div>
        <div class="form-group">
          <%= f.submit 'Login', class: 'btn btn-success btn-block btn-flat' %>
        </div>
        <div class="form-group">
          <a href="/register" class="text-center btn btn-primary btn-block btn-flat">Register</a>
        </div>
    <% end %>
  </div>
</div>
</body>