<body class="hold-transition register-page">
  <div class="register-box">
    <div class="register-logo">
      <a href="/"><b>Learning</b>Force</a>
    </div>
    <div class="register-box-body">
      <p class="login-box-msg">Register a new membership</p>
      <%= form_for @user, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
          <%= f.hidden_field :Student__c, value: true %>
          <div class="form-group has-feedback">
            <%= f.select :Salutation, {Mr: 'Mr', Mrs: 'Mrs'}, {}, class: 'form-control', placeholder: 'Salutation', required: true %>
          </div>
          <div class="form-group has-feedback">
            <%= f.text_field :FirstName, class: 'form-control', placeholder: 'First Name', required: true %>
            <i class="fa fa-user form-control-feedback"></i>
          </div>
          <div class="form-group has-feedback">
            <%= f.text_field :LastName, class: 'form-control', placeholder: 'Last name', required: true %>
            <i class="fa fa-user form-control-feedback"></i>
          </div>
          <div class="form-group has-feedback">
            <%= f.text_field :Birthplace__c, class: 'form-control', placeholder: 'Place of Birth', required: true %>
            <i class="fa fa-user form-control-feedback"></i>
          </div>
          <div class="form-group has-feedback">
            <%= f.label :Birthday %>
            <%= f.date_select :Birthdate, class: 'form-control', placeholder: 'Birthday', required: true, start_year: 1960 %>
          </div>
          <div class="form-group has-feedback">
            <%= f.email_field :Email, class: 'form-control', placeholder: 'Email', required: true %>
            <i class="fa fa-envelope form-control-feedback"></i>
          </div>
          <div class="form-group has-feedback">
            <%= f.password_field :Password__c, class: 'form-control', placeholder: 'Password', required: true %>
            <i class="fa fa-lock form-control-feedback"></i>
          </div>
          <div class="form-group">
            <%= f.submit 'Create', class: 'btn btn-primary btn-block btn-flat' %>
          </div>
      <% end %>
      <a href="/login" class="text-center">I already have a membership</a>
    </div>
  </div>
</body>