<div class="container">
  <h3>Enrollments</h3>
  <hr/>
  <!-- Nav tabs -->
  <% @enrollments.to_a.each do |e| %>
      <div class="col-md-6">
        <div class="box box-solid">
          <div class="box-header with-border">
            <i class="fa fa-text-width"></i>
            <h3 class="box-title"><a href="<%= enrollment_path(e.Id) %>"><%= e.Course__r.Name %></a></h3>
          </div><!-- /.box-header -->
          <div class="box-body">
            <dl class="dl-horizontal">
              <dt>Description</dt>
              <dd><%= e.Course__r.Description__c %></dd>
              <dt>Teacher</dt>
              <dd><%= p e.Course__r.Teacher__r.Name %></dd>
            </dl>
          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </div>
  <% end %>
</div>


