<div class="container">
  <h2><%= @enrollment.Course__r.Name %></h2>
  <hr>

  <% @lessons.each do |lesson| %>
      <h3><%= lesson.Name__c %></h3>
      <% if lesson.respond_to?(:Attachments) && lesson.Attachments %>
          <% lesson.Attachments.each do |a| %>
              <p><%= link_to a.Name, attachment_path(a.Id) %></p>
          <% end %>
      <% end %>
      <% if lesson.Additional_Resources__c %>
          <h5>Additional Resources</h5>
          <% lesson.Additional_Resources__c.split(/[\r\n]+/).each do |resource| %>
              <p><%= link_to resource, resource %></p>
          <% end %>
      <% end %>
      <hr>
  <% end %>
  <% if @enrollment.Student_Assignements__r %>
      <h3>Assignments</h3>
      <% @enrollment.Student_Assignements__r.each do |assignment| %>
          <h4><%= assignment.Assignement__r.Description__c %></h4>
          <%= form_for @attachment, url: enrollment_attachments_path(@enrollment.Id), html: {class: 'form-inline'} do |f| %>
            <%= f.hidden_field 'ParentId', value: assignment.Id %>
            <%= f.file_field 'Body', class:'form-control', required: true  %>
            <%= f.submit 'Save', class: 'btn btn-default' %>
          <% end %>
      <% end %>
  <% end %>
  <hr>

  <% if @enrollment.Enrollment_Exams__r %>
      <h3>Exams</h3>
      <% @enrollment.Enrollment_Exams__r.each do |exam| %>
          <%= link_to 'Test', edit_test_path(exam.Id) %> <%= exam.Completed__c ? " - Completed (#{exam.Score__c})" : ''%>
      <% end %>
  <% end %>

</div>