<div class="container">
  <h3>Courses</h3>
  <hr/>
    <!-- Nav tabs -->
      <% @courses.each do |c| %>
          <div class="col-lg-4 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
              <div class="inner">
                <h2><%= c.Name %></h2>
                <p><%= c.Location__c %>&nbsp;</p>
              </div>
              <a href="<%= course_path(c.Id) %>" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
          </div>

      <% end %>
</div>


