<div class="container">
  <h3><%= @course.Name %></h3>
  <hr/>
  <div>
    <p><%= @course.Description__c %></p>
    <% if @course.Classes__r %>
        <% @course.Classes__r.each do |l| %>
            <p><%= l.Name__c %></p>
        <% end %>
    <% end %>

    <%= form_for @enrollment, url: {controller: 'enrollments', action: 'create'}, html: {class: "nifty_form"} do |f| %>
        <%= f.hidden_field :Course__c, value: @course.Id %>
        <%= submit_tag 'Enroll', disabled: @enrolled, class: 'btn bg-maroon btn-flat'%>
    <% end %>

  </div>
</div>