<div class="container">
  <h3><%= "Test" %></h3>
  <hr>

  <%= form_for @enrollment_exam, url: test_path(@enrollment_exam.Id) do |f| %>
      <% @questions.each do |question| %>
          <h4><%= question.Text__c %></h4>
          <div class="form-group">
            <% question.Question_Answers__r.each do |answer| %>
                <div class="radio">
                  <label>
                    <input type="radio" name="StudentAnswers__r[<%= question.Id %>]" id="<%= question.Id %>" value="<%= answer.Id %>" checked="">
                    <%= answer.Answer__c %>
                  </label>
                </div>
            <% end %>
          </div>
          <hr>
      <% end %>
      <%= f.submit 'Submit', disabled: @enrollment_exam.Completed__c %>
      <%= "#{@enrollment_exam.Score__c}" %>
  <% end %>

</div>