<!DOCTYPE html>
<html>
<head>
  <title>LearningForce</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="hold-transition register-page">
<%= yield %>
</body>