<!DOCTYPE html>
<html>
<head>
  <title>LearningForce</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="fixed sidebar-mini skin-blue">
  <header class="main-header">
    <a href="/" class="logo">
      <span class="logo-mini"><b>L</b>F</span>
      <span class="logo-lg"><b>Learning</b>Force</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">

          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="hidden-xs"><%= "#{@contact['FirstName']} #{@contact['LastName']}" %></span>
            </a>
            <ul class="dropdown-menu">
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-right">
                  <%= link_to 'Logout', logout_path, :method => :delete%>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <aside class="main-sidebar">
    <!-- Inner sidebar -->
    <div class="sidebar">
      <!-- Sidebar Menu -->
      <ul class="sidebar-menu">

        <li class="active">
          <a href="/courses">
            <i class="fa fa-th"></i> <span>Courses</span>
          </a>
        </li>
        <li class="active">
          <a href="/enrollments">
            <i class="fa fa-tasks"></i> <span>Enrollments</span>
          </a>
        </li>

      </ul><!-- /.sidebar-menu -->

    </div><!-- /.sidebar -->
  </aside><!-- /.main-sidebar -->


  <div class="content-wrapper">
    <%= yield %>
  </div>

</body>
</html>
